body{
    background-color:#000;
}

h1,h2 {
    padding:15px 10px 15px 10px;
    text-align:center;
    color:rgb(235, 146, 161);
}

button{
    display: inline flex;
    position:relative;
    justify-content:center;
    text-decoration:none;
    display:fixed;
}

.no-btn{
    position:inline flex;
    padding: 10px;
margin:10px;
border-radius: 50px;
background-color:red;
}

.no-btn:hover{
    position: absolute;
    background-color:black;
    color:black;
}
.yes-btn{
    display:inline flex;
justify-content:center;
padding: 10px;
margin: 50px;
border-radius: 50px;
background-color:pink;
}

a {
    text-decoration: none;
}

a:hover{
    cursor:pointer;
}
